# Telegram Bot
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here

# OpenAI
OPENAI_API_KEY=your_openai_api_key_here
OPENAI_MODEL=gpt-4o-mini
OPENAI_MODEL_2=gpt-4o
OPENAI_REALTIME_MODEL=gpt-4o-realtime-preview-2025-06-03
OPENAI_VOICE=alloy

# Web App
WEBAPP_BASE_URL=https://yourdomain.com
WEBAPP_PORT=3000
WEBAPP_TEST_MODE=false
WEBAPP_TEST_ID=

# Other
ADMIN_ID=
LIST_USERS_PATH=listToSendNews.txt
REALTIME_ENABLED=true
